@page
@model Bai1.Pages.UploadFilesModel
@{
    <form method="post" enctype="multipart/form-data">
        <label asp-for="@Model.FileUploads"></label>
        <label asp-for="@Model.FileUploads"/>
       <input type="file" id="myfile" name="@Model.FileUploads"></input>


        <button class="btn btn-primary" asp-page="UploadMulti">Upload</button>
    </form>
}
